body {
  margin: 0;
  padding: 0;
  background-color: #272727;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100em;
  margin-left: 0;
  margin-right: 0;
}

.logoFondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.up {
  border-radius: 50%;
  background-color: greenyellow;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.up img {
  width: 30px;
}

.burguer {
  position: relative;
  top: 3px;
  left: 10px;
  width: 50px;
  -webkit-transition: width 0.5ms;
  transition: width 0.5ms;
  opacity: 0.8ms;
  font-size: xx-large;
  z-index: 2;
}

.burguer i {
  margin-left: -1330px;
  color: greenyellow;
  margin-bottom: 10px;
}

.burguer i:hover {
  border-radius: 70px;
  background-color: rgba(128, 124, 128, 0.55);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 2px 27px 6px #807c80;
  box-shadow: 0px 2px 27px 6px #807c80;
}

#menu {
  -webkit-transition: width 5ms;
  transition: width 5ms;
  margin-left: 10px;
  position: absolute;
  top: 150px;
  background-color: greenyellow;
  width: 220px;
  height: 240px;
  display: none;
}

#menu a {
  color: #272727;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 599;
}

#menu li:hover {
  background-color: #e2f899;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

#menu:target {
  display: block;
  margin-top: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: -1px;
  z-index: 3;
  border-bottom: 3px solid rgba(0, 0, 0, 0.192);
  -webkit-box-shadow: 4px 4px 5px 0px #969696;
  box-shadow: 4px 4px 5px 0px #969696;
}

#menu:target a {
  color: #272727;
}

#menu:target li {
  border-bottom: 3px solid rgba(0, 0, 0, 0.192);
  margin: -10px;
  padding: 5px;
  width: 180px;
}

menu {
  top: 10px;
}

menu i {
  margin-left: 1px;
  margin-top: 10px;
  font-size: xx-large;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  padding: 20px 80px 20px 20px;
  margin: 0;
  background-color: black;
  color: greenyellow;
}

header li {
  list-style: none;
}

header img {
  height: 50px;
}

.menu-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-principal .menu1 {
  margin-left: -35px;
}

.menu-principal .menu2 {
  margin-left: 27px;
}

.menu-principal .menu3 {
  margin-right: -33px;
}

.menu1:hover {
  border-radius: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(128, 124, 128, 0.548);
  -webkit-box-shadow: 0px 2px 27px 6px #807c80;
  box-shadow: 0px 2px 27px 6px #807c80;
}

.menu2:hover {
  border-radius: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(128, 124, 128, 0.548);
  -webkit-box-shadow: 0px 2px 27px 6px #807c80;
  box-shadow: 0px 2px 27px 6px #807c80;
}

.menu3:hover {
  border-radius: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(128, 124, 128, 0.548);
  -webkit-box-shadow: 0px 2px 27px 6px #807c80;
  box-shadow: 0px 2px 27px 6px #807c80;
}

.menu-interior {
  visibility: hidden;
  padding: 0;
  position: absolute;
  background-color: greenyellow;
  border-bottom: 3px solid rgba(0, 0, 0, 0.192);
  color: black;
  width: 160px;
  margin-right: -33;
  -webkit-box-shadow: 4px 4px 5px 0px #969696;
  box-shadow: 4px 4px 5px 0px #969696;
}

.menu-interior li {
  padding: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.192);
}

.menu-interior li:hover {
  background-color: #e2f899;
  height: 20px;
  margin-bottom: 3px;
  margin-top: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-principal li:hover .menu-interior {
  visibility: visible;
}

main {
  height: 500px;
  background-image: url(..//images/bkgrnd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main p {
  font-weight: bolder;
  color: greenyellow;
  border: 3px solid rgba(0, 0, 0, 0.335);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  opacity: 60%;
  border-radius: 7px;
  margin-top: 160px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 287px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(255, 255, 255, 0.103);
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 31px 2px #0a0a0a;
  box-shadow: 10px 10px 31px 2px #0a0a0a;
}

.card h2 {
  background-color: rgba(128, 128, 128, 0);
  border-radius: 10px;
  color: #a1a1a1;
  -webkit-box-shadow: 10px 10px 31px 2px #0a0a0a;
  box-shadow: 10px 10px 31px 2px #0a0a0a;
}

.card p {
  margin-left: 10px;
  margin-top: 1px;
  color: greenyellow;
  font-weight: 599;
}

.card img {
  width: 200px;
}

.card:hover {
  -webkit-box-shadow: 0px 2px 27px 6px #807c80;
  box-shadow: 0px 2px 27px 6px #807c80;
}

footer {
  background-color: black;
  height: 250px;
  margin-top: 100px;
  color: greenyellow;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -507px;
  z-index: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {
  color: rgba(128, 128, 128, 0.363);
  font-size: smaller;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 33px;
}

footer i {
  font-size: 3em;
  color: greenyellow;
  margin: 4px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

@media (max-width: 450px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
        grid-template-areas: 'header' 'main' 'section' 'footer';
  }
  body {
    height: 60em;
    overflow-x: hidden;
  }
  .up {
    display: none;
  }
  .menu-principal {
    display: none;
  }
  main {
    height: 200px;
    width: 414px;
  }
  main p {
    width: 405px;
    margin-top: 0;
  }
  .logoFondo {
    display: none;
  }
  header {
    width: 314px;
  }
  header .burguer {
    margin-left: -120px;
  }
  header .burguer i {
    margin-left: -280px;
  }
  section {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 135px;
    margin-top: -250px;
    margin-bottom: -130px;
  }
  section img {
    height: 90px;
  }
  section p {
    display: none;
  }
  footer {
    width: 414px;
    margin: 0;
  }
  footer p {
    margin-left: 70px;
  }
}

@media (max-width: 768px) {
  header .burguer i {
    margin-left: -190px;
  }
}

@media (max-width: 375px) {
  body {
    overflow-x: hidden;
    width: 375px;
  }
  header {
    width: 275px;
  }
  header .burguer {
    margin-left: -120px;
  }
  header .burguer i {
    margin-left: -240px;
  }
  main {
    height: 200px;
    width: 375px;
  }
  main p {
    width: 370px;
    margin-top: 0;
  }
  section {
    margin-left: 115px;
    margin-top: -240px;
    margin-bottom: -150px;
  }
  section p {
    width: 375px;
  }
  footer {
    width: 375px;
  }
  footer p {
    margin-left: 52px;
  }
}
/*# sourceMappingURL=tp7.css.map */